@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');

* {
    margin: 0px;
    padding: 0px;
    background-color: #28282B;
    color: #f3f3f3;
    font-family: 'Mukta', sans-serif;
}

body {
    padding: 10px;
}