@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

html,body {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    min-height: 100vh;
    overflow-x: hidden;
    position: relative;
}

.App {
    display: flex;
    flex-direction: column;
}

#header {
    background-color: black;
    color: white;
    padding: 10px;
    padding-left: 20px;
    display: flex;
}

#home-link {
    text-decoration: none;
    color: white;
}

#page-title {
    font-family: 'Koulen', sans-serif;
    font-size: 4rem;
}

#welcome {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    max-width: 2560px;
}

#about {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-left: 30px;
    padding-top: 50px;
}

#welcome-title {
    font-family: 'Koulen', sans-serif;
    font-size: 3rem;
}

#welcome-content {
    padding-left: 10px;
    font-family: 'Mulish', sans-serif;
}

#welcome-content h2 {
    max-width: 30ch;
    margin: 50px 0px 50px 0px;
    font-size: 2rem;
}

#welcome-content ul {
    font-size: 2rem;
    font-weight: bold;
}

#welcome-content ul li {
    margin: 30px 0px 30px 0px;
}

#selection {
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
}

#selection a {
    text-decoration: none;
}

#selection-img {
    width: 100%;
    display: block;
    object-fit: contain;
}

#footer {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    margin-top: 2rem;
    text-align: center;
    align-self: flex-end;
    width: 100%;
    position: relative;
    bottom: 0;
}

#footer h1 {
    font-family: 'Koulen', sans-serif;
    font-size: 2.5rem;
}

#footer-links {
    display: flex;
    flex-direction: column;
}

#footer-links a {
    text-decoration: none;
    color: white;
    font-family: 'Koulen', sans-serif;
    font-size: 1.5rem;    
}

.option {
    display: flex;
    position: relative;
    aspect-ratio: 1;
}

.img-info-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    opacity: 0;
    transition: opacity 0.25s;
}

.img-info-sub {
    display: none;
    text-align: center;
    text-decoration: none;
    color: black;
}

.img-title {
    font-family: 'Koulen', sans-serif;
    font-size: 3rem;
}

.img-desc {
    font-family: 'Mulish', sans-serif;
    font-size: 2rem;
    margin-bottom: 2%;
}

.img-date {
    font-family: 'Mulish', sans-serif;
    font-size: 1.5rem;
    margin-bottom: 2%;
}

.img-info-overlay > * {
    transform: translateX(20px);
    transition: transform 0.25s;
}

.img-info-overlay:hover {
    opacity: 1;
}

.img-info-overlay:hover > * {
    transform: translateX(0);
}


/* For event page */

#event-container {
    display: flex;
    flex-direction: row;
    margin: 1%;
}

#event-info {
    display: flex;
    flex-direction: column;
    width: 50%;
    background-color: salmon;
}

#event-info h1 {
    font-size: 3rem;
    font-family: 'Koulen', sans-serif;
}

#event-info h3 {
    font-size: 2rem;
    font-family: 'Mulish', sans-serif; 
    /* width: 35ch; */
}

#event-info li {
    font-size: 2rem;
    font-family: 'Mulish', sans-serif;
    font-weight: bold;
}

#event-desc {
    max-width: 35ch;
}

#img-cycle {
    width: 50%;
    display: flex;
    justify-content: center;
}

#cycle {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#right-arrow {
    position: absolute;
    top: 50%;
    right: 32px;
    font-size: 3rem;
    color: #000;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

#left-arrow {
    position: absolute;
    top: 50%;
    left: 32px;
    font-size: 3rem;
    color: #000;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

.slide {
    opacity: 0;
    transition-duration: 1s ease;
}

.slide img {
    width: 100%;
}

.slide.active {
    display: flex;
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
}

@media only screen and (max-width: 1300px) {
    #welcome {
        flex-direction: column;
    }

    #about {
        width: 100%;
    }

    #selection {
        width: 100%;
    }

    #welcome-content h2 {
        max-width: 50ch;
    }

    .option {
        flex-direction: column;
    }

    .img-info-overlay {
        display: none;
    }

    .img-info-sub {
        display: block;
        text-decoration: none;
        color: black;
    }
    
    .img-info-sub > * {
        text-decoration: none;
        color: black;
    }

    .img-title {
        font-size: 2rem;
    }

    .img-desc {
        font-size: 1.5rem;
    }

    .img-date {
        font-size: 1rem;
    }

    #event-container {
        flex-direction: column;
    }

    #event-info {
        width: 100%;
    }
}

@media only screen and (max-width: 600px) {
    #page-title {
        font-size: 3rem;
    }

    #welcome-title {
        font-size: 2rem;
    }

    #welcome-content h2 {
        font-size: 1rem;
    }

    #welcome-content ul {
        font-size: 1rem;
    }

    #about {
        padding-top: 0px;
        padding-left: 0px;
    }

    #selection {
        grid-template-columns: repeat(1, 1fr);
    }

    #event-info h1 {
        font-size: 2rem;
    }

    #event-info h3 {
        font-size: 1rem;
    }

    #event-info li {
        font-size: 1rem;
    }

    .img-title {
        font-size: 1.5rem;
    }

    .img-desc {
        font-size: 1rem;
    }
}